ENV=dev
DATABASE_DRIVER=postgresql
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=appdb
SECRET_KEY=highly-secret-key-change-me-in-production
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_SECONDS=86400
REFRESH_TOKEN_EXPIRE_SECONDS=604800
WEB_APP_BASE_URL=http://localhost:5173

# SMTP Settings (Leave blank or use a service like Mailtrap for dev)
SMTP_SERVER=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DEFAULT_FROM_EMAIL=noreply@example.com
