{% extends "mail/base_email_template.html" %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <!-- Opening Salutation -->
    <h2>Hello {{ name | escape }},</h2>

    <!-- Message Body -->
    <p>
        You requested a password reset for your Derek account.
        Click the button below to reset your password.
    </p>

    <!-- Action -->
    <div class="button-container">
        <a href="{{ reset_password_url }}" class="button">Reset password</a>
    </div>
    <p>Note: This link will expire in 15 minutes.</p>
    <!-- Closing Salutation -->
    <p>
        Regards, <br>
        The Derek Team
    </p>
{% endblock %}