{% extends "mail/base_email_template.html" %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <!-- Opening Salutation -->
    <h2>Hello {{ name | escape }},</h2>

    <!-- Message Body -->
    <p>
        Your account has created. Set a new password to login 
    </p>

    <!-- Action -->
    <div class="button-container">
        <a href="{{ set_password_url }}" class="button">Set password</a>
    </div>
    <p>Note: This link will expire in 15 minutes.</p>
    <!-- Closing Salutation -->
    <p>
        Regards, <br>
        The Derek Team
    </p>
{% endblock %}